<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myedu.project.account.mapper.YunAccountMapper">
    
    <resultMap type="YunAccount" id="YunAccountResult">
        <result property="id"    column="id"    />
        <result property="totalAmount"    column="total_amount"    />
        <result property="caseAmount"    column="case_amount"    />
        <result property="uncaseAmount"    column="uncase_amount"    />
        <result property="freezeCaseAmount"    column="freeze_case_amount"    />
        <result property="freezeUncaseAmount"    column="freeze_uncase_amount"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createById"    column="create_by_id"    />
    </resultMap>

    <sql id="selectYunAccountVo">
        select id, total_amount, case_amount, uncase_amount, freeze_case_amount, freeze_uncase_amount, status, remark, create_by, create_time, update_by, update_time, del_flag, create_by_id from yun_account
    </sql>

    <select id="selectYunAccountList" parameterType="YunAccount" resultMap="YunAccountResult">
        <include refid="selectYunAccountVo"/>
        <where>  
            <if test="totalAmount != null "> and total_amount = #{totalAmount}</if>
            <if test="caseAmount != null "> and case_amount = #{caseAmount}</if>
            <if test="uncaseAmount != null "> and uncase_amount = #{uncaseAmount}</if>
            <if test="freezeCaseAmount != null "> and freeze_case_amount = #{freezeCaseAmount}</if>
            <if test="freezeUncaseAmount != null "> and freeze_uncase_amount = #{freezeUncaseAmount}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="delFlag != null  and delFlag != ''"> and del_flag = #{delFlag}</if>
            <if test="createById != null "> and create_by_id = #{createById}</if>
        </where>
    </select>
    
    <select id="selectYunAccountById" parameterType="Long" resultMap="YunAccountResult">
        <include refid="selectYunAccountVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertYunAccount" parameterType="YunAccount" useGeneratedKeys="true" keyProperty="id">
        insert into yun_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="totalAmount != null ">total_amount,</if>
            <if test="caseAmount != null ">case_amount,</if>
            <if test="uncaseAmount != null ">uncase_amount,</if>
            <if test="freezeCaseAmount != null ">freeze_case_amount,</if>
            <if test="freezeUncaseAmount != null ">freeze_uncase_amount,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="createById != null ">create_by_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="totalAmount != null ">#{totalAmount},</if>
            <if test="caseAmount != null ">#{caseAmount},</if>
            <if test="uncaseAmount != null ">#{uncaseAmount},</if>
            <if test="freezeCaseAmount != null ">#{freezeCaseAmount},</if>
            <if test="freezeUncaseAmount != null ">#{freezeUncaseAmount},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="createById != null ">#{createById},</if>
         </trim>
    </insert>

    <update id="updateYunAccount" parameterType="YunAccount">
        update yun_account
        <trim prefix="SET" suffixOverrides=",">
            <if test="totalAmount != null ">total_amount = #{totalAmount},</if>
            <if test="caseAmount != null ">case_amount = #{caseAmount},</if>
            <if test="uncaseAmount != null ">uncase_amount = #{uncaseAmount},</if>
            <if test="freezeCaseAmount != null ">freeze_case_amount = #{freezeCaseAmount},</if>
            <if test="freezeUncaseAmount != null ">freeze_uncase_amount = #{freezeUncaseAmount},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createById != null ">create_by_id = #{createById},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteYunAccountById" parameterType="Long">
        delete from yun_account where id = #{id}
    </delete>

    <delete id="deleteYunAccountByIds" parameterType="String">
        delete from yun_account where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>