<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myedu.project.store.mapper.StoreTypeMapper">

	<resultMap type="YunStoreType" id="YunStoreTypeResult">
		<result property="storeId"     column="store_id"      />
		<result property="typeId"     column="type_id"      />
	</resultMap>

	<delete id="deleteStoreTypeByStoreId" parameterType="Long">
		delete from yun_store_type where store_id=#{storeId}
	</delete>
	
	<select id="countStoreTypeByTypeId" resultType="Integer">
	    select count(1) from yun_store_type where type_id=#{typeId}
	</select>
	
	<delete id="deleteStoreType" parameterType="Long">
 		delete from yun_store_type where store_id in
 		<foreach collection="array" item="storeId" open="(" separator="," close=")">
 			#{storeId}
        </foreach> 
 	</delete>
	
	<insert id="batchStoreType">
		insert into yun_store_type(store_id, type_id) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.storeId},#{item.typeId})
		</foreach>
	</insert>
	
	<delete id="deleteStoreTypeInfo" parameterType="YunStoreType">
		delete from yun_store_type where store_id=#{storeId} and type_id=#{typeId}
	</delete>
	
	<delete id="deleteStoreTypeInfos">
	    delete from yun_store_type where store_id=#{storeId} and store_id in
 	    <foreach collection="storeIds" item="storeId" open="(" separator="," close=")">
 	        #{storeId}
            </foreach> 
	</delete>
</mapper> 