<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myedu.project.store.mapper.YunStoreCouponReceiveMapper">
    
    <resultMap type="YunStoreCouponReceive" id="YunStoreCouponReceiveResult">
        <result property="id"    column="id"    />
        <result property="sciId"    column="sci_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createById"    column="create_by_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectYunStoreCouponReceiveVo">
        select id, sci_id, create_by,create_by_id,  create_time, status from yun_store_coupon_receive
    </sql>

    <select id="selectYunStoreCouponReceiveList" parameterType="YunStoreCouponReceive" resultMap="YunStoreCouponReceiveResult">
        <include refid="selectYunStoreCouponReceiveVo"/>
        <where>  
            <if test="sciId != null "> and sci_id = #{sciId}</if>
            <if test="createById != null "> and create_by_id = #{createById}</if>
            <if test="createBy != null "> and create_by = #{createBy}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectYunStoreCouponReceiveById" parameterType="Long" resultMap="YunStoreCouponReceiveResult">
        <include refid="selectYunStoreCouponReceiveVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertYunStoreCouponReceive" parameterType="YunStoreCouponReceive" useGeneratedKeys="true" keyProperty="id">
        insert into yun_store_coupon_receive
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sciId != null ">sci_id,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createById != null ">create_by_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="status != null  and status != ''">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sciId != null ">#{sciId},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createById != null ">#{createById},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="status != null  and status != ''">#{status},</if>
         </trim>
    </insert>

    <update id="updateYunStoreCouponReceive" parameterType="YunStoreCouponReceive">
        update yun_store_coupon_receive
        <trim prefix="SET" suffixOverrides=",">
            <if test="sciId != null ">sci_id = #{sciId},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createById != null ">create_by_id = #{createById},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteYunStoreCouponReceiveById" parameterType="Long">
        delete from yun_store_coupon_receive where id = #{id}
    </delete>

    <delete id="deleteYunStoreCouponReceiveByIds" parameterType="String">
        delete from yun_store_coupon_receive where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>
