<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myedu.project.parents.score.mapper.YunScoreMapper">
    
    <resultMap type="YunScore" id="YunScoreResult">
        <result property="scoreId"    column="score_id"    />
        <result property="mark"    column="mark"    />
        <result property="examtname"    column="examtname"    />
        <result property="examtime"    column="examtime"    />
        <result property="remark"    column="remark"    />
        <result property="examimage"    column="examimage"    />
        <result property="createById"    column="create_by_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectYunScoreVo">
        select score_id, mark, examtname, examtime, remark, examimage, create_by_id, create_by, update_by, update_time, del_flag from yun_score
    </sql>

    <select id="selectYunScoreList" parameterType="YunScore" resultMap="YunScoreResult">
        <include refid="selectYunScoreVo"/>
        <where>  
            <if test="mark != null "> and mark = #{mark}</if>
            <if test="examtname != null  and examtname != ''"> and examtname like concat('%', #{examtname}, '%')</if>
            <if test="examtime != null "> and examtime = #{examtime}</if>
            <if test="examimage != null  and examimage != ''"> and examimage = #{examimage}</if>
            <if test="createById != null "> and create_by_id = #{createById}</if>
        </where>
    </select>
    
    <select id="selectYunScoreById" parameterType="Long" resultMap="YunScoreResult">
        <include refid="selectYunScoreVo"/>
        where score_id = #{scoreId}
    </select>
        
    <insert id="insertYunScore" parameterType="YunScore" useGeneratedKeys="true" keyProperty="scoreId">
        insert into yun_score
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mark != null ">mark,</if>
            <if test="examtname != null  and examtname != ''">examtname,</if>
            <if test="examtime != null ">examtime,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="examimage != null  and examimage != ''">examimage,</if>
            <if test="createById != null ">create_by_id,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mark != null ">#{mark},</if>
            <if test="examtname != null  and examtname != ''">#{examtname},</if>
            <if test="examtime != null ">#{examtime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="examimage != null  and examimage != ''">#{examimage},</if>
            <if test="createById != null ">#{createById},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateYunScore" parameterType="YunScore">
        update yun_score
        <trim prefix="SET" suffixOverrides=",">
            <if test="mark != null ">mark = #{mark},</if>
            <if test="examtname != null  and examtname != ''">examtname = #{examtname},</if>
            <if test="examtime != null ">examtime = #{examtime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="examimage != null  and examimage != ''">examimage = #{examimage},</if>
            <if test="createById != null ">create_by_id = #{createById},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where score_id = #{scoreId}
    </update>

    <delete id="deleteYunScoreById" parameterType="Long">
        delete from yun_score where score_id = #{scoreId}
    </delete>

    <delete id="deleteYunScoreByIds" parameterType="String">
        delete from yun_score where score_id in 
        <foreach item="scoreId" collection="array" open="(" separator="," close=")">
            #{scoreId}
        </foreach>
    </delete>
    
</mapper>