<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myedu.project.parents.mapper.YunStudentMapper">
    
    <resultMap type="YunStudentVo" id="YunStudentResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="gendel"    column="gendel"    />
        <result property="avatar"    column="avatar"    />
        <result property="school"    column="school"    />
        <result property="gradeId"    column="grade_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="createById"    column="create_by_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectYunStudentVo">
        select ys.*,sg.name as gradeName
        from yun_student  ys LEFT  JOIN sys_grade sg  ON  ys.grade_id = sg.id
    </sql>

    <select id="selectYunStudentList" parameterType="YunStudentVo" resultMap="YunStudentResult">
        <include refid="selectYunStudentVo"/>
        <where>  
            <if test="name != null  and name != ''"> and ys.name like concat('%', #{name}, '%')</if>
            <if test="gendel != null  and gendel != ''"> and ys.gendel = #{gendel}</if>
            <if test="avatar != null  and avatar != ''"> and ys.avatar = #{avatar}</if>
            <if test="school != null  and school != ''"> and ys.school = #{school}</if>
            <if test="gradeId != null "> and ys.grade_id = #{gradeId}</if>
            <if test="parentId != null "> and ys.parent_id = #{parentId}</if>
            <if test="createBy != null "> and ys.create_by like concat('%', #{createBy}, '%')</if>
            <if test="createById != null "> and ys.create_by_id = #{createById}</if>
            <if test="gradeName != null "> and sg.name like concat('%', #{gradeName}, '%')</if>
        </where>
    </select>
    
    <select id="selectYunStudentById" parameterType="Long" resultMap="YunStudentResult">
        <include refid="selectYunStudentVo"/>
        where ys.id = #{id}
    </select>
        
    <insert id="insertYunStudent" parameterType="YunStudent" useGeneratedKeys="true" keyProperty="id">
        insert into yun_student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">name,</if>
            <if test="gendel != null  and gendel != ''">gendel,</if>
            <if test="avatar != null  and avatar != ''">avatar,</if>
            <if test="school != null  and school != ''">school,</if>
            <if test="gradeId != null ">grade_id,</if>
            <if test="parentId != null ">parent_id,</if>
            <if test="createById != null ">create_by_id,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">#{name},</if>
            <if test="gendel != null  and gendel != ''">#{gendel},</if>
            <if test="avatar != null  and avatar != ''">#{avatar},</if>
            <if test="school != null  and school != ''">#{school},</if>
            <if test="gradeId != null ">#{gradeId},</if>
            <if test="parentId != null ">#{parentId},</if>
            <if test="createById != null ">#{createById},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateYunStudent" parameterType="YunStudent">
        update yun_student
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="gendel != null  and gendel != ''">gendel = #{gendel},</if>
            <if test="avatar != null  and avatar != ''">avatar = #{avatar},</if>
            <if test="school != null  and school != ''">school = #{school},</if>
            <if test="gradeId != null ">grade_id = #{gradeId},</if>
            <if test="parentId != null ">parent_id = #{parentId},</if>
            <if test="createById != null ">create_by_id = #{createById},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteYunStudentById" parameterType="Long">
        delete from yun_student where id = #{id}
    </delete>

    <delete id="deleteYunStudentByIds" parameterType="String">
        delete from yun_student where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>