<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myedu.project.parents.mapper.YunStuMistakeMapper">
    
    <resultMap type="YunStuMistakeVo" id="YunStuMistakeResult">
        <result property="id"    column="id"    />
        <result property="source"    column="source"    />
        <result property="type"    column="type"    />
        <result property="reason"    column="reason"    />
        <result property="images"    column="images"    />
        <result property="solutions"    column="solutions"    />
        <result property="studentId"    column="student_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createById"    column="create_by_id"    />
    </resultMap>

    <sql id="selectYunStuMistakeVo">
        select  ysm.*,ys.name as studentName
        from yun_stu_mistake ysm LEFT  JOIN yun_student ys  ON  ysm.student_id = ys.id
    </sql>

    <select id="selectYunStuMistakeList" parameterType="YunStuMistake" resultMap="YunStuMistakeResult">
        <include refid="selectYunStuMistakeVo"/>
        <where>  
            <if test="source != null  and source != ''"> and ysm.source = #{source}</if>
            <if test="type != null  and type != ''"> and ysm.type = #{type}</if>
            <if test="reason != null  and reason != ''"> and ysm.reason = #{reason}</if>
            <if test="solutions != null  and solutions != ''"> and ysm.solutions = #{solutions}</if>
            <if test="studentId != null "> and ysm.student_id = #{studentId}</if>
            <if test="createBy != null  and createBy != ''"> and ysm.create_by like concat('%', #{createBy}, '%')</if>
            <if test="createTime != null "> and ysm.create_time = #{createTime}</if>
            <if test="createById != null "> and ysm.create_by_id = #{createById}</if>
            <if test="studentName!= null ">and ys.name like concat('%', #{studentName}, '%')</if>
        </where>
    </select>
    
    <select id="selectYunStuMistakeById" parameterType="Long" resultMap="YunStuMistakeResult">
        <include refid="selectYunStuMistakeVo"/>
        where ysm.id = #{id}
    </select>
        
    <insert id="insertYunStuMistake" parameterType="YunStuMistake" useGeneratedKeys="true" keyProperty="id">
        insert into yun_stu_mistake
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="source != null  and source != ''">source,</if>
            <if test="type != null  and type != ''">type,</if>
            <if test="reason != null  and reason != ''">reason,</if>
            <if test="images != null  and images != ''">images,</if>
            <if test="solutions != null  and solutions != ''">solutions,</if>
            <if test="studentId != null ">student_id,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="createById != null ">create_by_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="source != null  and source != ''">#{source},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="reason != null  and reason != ''">#{reason},</if>
            <if test="images != null  and images != ''">#{images},</if>
            <if test="solutions != null  and solutions != ''">#{solutions},</if>
            <if test="studentId != null ">#{studentId},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="createById != null ">#{createById},</if>
         </trim>
    </insert>

    <update id="updateYunStuMistake" parameterType="YunStuMistake">
        update yun_stu_mistake
        <trim prefix="SET" suffixOverrides=",">
            <if test="source != null  and source != ''">source = #{source},</if>
            <if test="type != null  and type != ''">type = #{type},</if>
            <if test="reason != null  and reason != ''">reason = #{reason},</if>
            <if test="images != null  and images != ''">images = #{images},</if>
            <if test="solutions != null  and solutions != ''">solutions = #{solutions},</if>
            <if test="studentId != null ">student_id = #{studentId},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createById != null ">create_by_id = #{createById},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteYunStuMistakeById" parameterType="Long">
        delete from yun_stu_mistake where id = #{id}
    </delete>

    <delete id="deleteYunStuMistakeByIds" parameterType="String">
        delete from yun_stu_mistake where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>