<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myedu.project.dataBasic.mapper.SysCourseMapper">
    
    <resultMap type="SysCourse" id="SysCourseResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="remark"    column="remark"    />
        <result property="type"    column="type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectSysCourseVo">
        select id, name, remark, type, create_by, create_time, update_by, update_time, del_flag from sys_course
    </sql>

    <select id="selectSysCourseList" parameterType="SysCourse" resultMap="SysCourseResult">
        <include refid="selectSysCourseVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectSysCourseById" parameterType="Long" resultMap="SysCourseResult">
        <include refid="selectSysCourseVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysCourse" parameterType="SysCourse">
        insert into sys_course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="type != null  and type != ''">type,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateSysCourse" parameterType="SysCourse">
        update sys_course
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="type != null  and type != ''">type = #{type},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysCourseById" parameterType="Long">
        delete from sys_course where id = #{id}
    </delete>

    <delete id="deleteSysCourseByIds" parameterType="String">
        delete from sys_course where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>