<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myedu.project.dataBasic.mapper.SysStoreTypeMapper">
    
    <resultMap type="SysStoreType" id="SysStoreTypeResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="remark"    column="remark"    />
        <result property="type"    column="type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
    <resultMap id="SysCourseResult" type="com.myedu.project.dataBasic.domain.SysCourse" >
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="remark"    column="remark"    />
        <result property="type"    column="type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>
    <resultMap id="SysStoreTypeClassResult" type="com.myedu.app.parents.Vo.StoreClassVo">
        <result property="storeTypeName"    column="dict_label"    />
        <result property="storeTypeId"    column="dict_value"    />
        <collection  property="sysCourses"   javaType="java.util.List"        resultMap="SysCourseResult" />
    </resultMap>

    <sql id="selectSysStoreTypeVo">
        select id, name, remark, type, create_by, create_time, update_by, update_time from sys_store_type
    </sql>

    <select id="selectSysStoreTypeList" parameterType="SysStoreType" resultMap="SysStoreTypeResult">
        <include refid="selectSysStoreTypeVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectSysStoreTypeById" parameterType="Long" resultMap="SysStoreTypeResult">
        <include refid="selectSysStoreTypeVo"/>
        where id = #{id}
    </select>

    <select id="selectTypesByStoreName" parameterType="String" resultMap="SysStoreTypeResult">
        <include refid="selectSysStoreTypeVo"/>
        where name = #{name}
    </select>
        
    <insert id="insertSysStoreType" parameterType="SysStoreType" useGeneratedKeys="true" keyProperty="id">
        insert into sys_store_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">name,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="type != null  and type != ''">type,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">#{name},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysStoreType" parameterType="SysStoreType">
        update sys_store_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="type != null  and type != ''">type = #{type},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysStoreTypeById" parameterType="Long">
        delete from sys_store_type where id = #{id}
    </delete>

    <delete id="deleteSysStoreTypeByIds" parameterType="String">
        delete from sys_store_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="selectStoreTypeListByStoreId" parameterType="Long" resultType="Integer">
		select yst.type_id
        from  yun_store_type yst
	        left join sys_store_type sst on sst.id = yst.type_id
	        left join yun_store ys on ys.id = yst.store_id
	    where yst.store_id = #{storeId}
	</select>

    <select id="selectStoreClass" resultMap="SysStoreTypeClassResult">
	select  st.dict_label,st.dict_value,sc.id,sc.name  from sys_dict_data st
	left join sys_course sc on st.dict_value=sc.type
	WHERE st.dict_type='course_type'   and  st.dict_value!='0'
	UNION ALL
	select  st.dict_label,st.dict_value,sc.dict_value,sc.dict_label  from sys_dict_data st
	left join sys_dict_data sc on  sc.dict_type='managed_type'
	WHERE st.dict_type='course_type' and  st.dict_value='0'
	</select>

</mapper>
